.banners {
  width: 100%;
  background-color: #6b277a;
  color: white;
  margin-bottom: 35px;
}

.banners h2 {
  padding: 8px;
}

/*.navbar {}*/

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}


/* DEMO example styles for logo image */

.navbar-brand {
  padding: 0px;
  background: white;
}

.navbar-brand>img {
  height: 165%;
  width: auto;
  /*padding: 7px 14px;*/
}

.divider {
  margin: 40px 0px;
  position: relative;
}

.navbar {
  background-color: #da187b
}
