{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Citifmonline</title>
  <!-- Bootstrap -->
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static 'css.css'%}">
  <!-- <link rel="stylesheet" type="text/css" href="eq.css"> -->
</head>

<body>
  <nav class="navbar navbar-fixed-top" style="border-radius: 0;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://citifmonline.com/" target="new">
          <img alt="Brand" src="{% static 'images/citinewlogo.jpg'%}" id="brand">
        </a>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:90px;">
    <!-- HEADER TITLE -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Nana Akufo-Addo's ministers, administrative and political appointees.</h1>
      </div>
    </div>
    <!-- PRESIDENT SECTION -->
    {% for object in object_list|slice:':1' %}
    <div class="row">
      <div class="banners">
        <h2 class="text-center text-uppercase">{{ object.title }}</h2>
      </div>
      <!-- DONALD TRUMP -->
      {% for person in object.person_set.all %}
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
        <img src="/media/{{ person.photo }}" class="img-circle">
        <h2>{{ person.name }} </h2>
        <p class="lead">{{ person.position }}</p>
        <hr>
        <p>
          {{ person.description}}
        </p>
      </div>
      {% endfor %}
    </div>
    <hr>
    {% endfor %}
    <!-- OTHER SECTIONS -->
    {% for section in object_list|slice:'1:' %}
    <div class="row text-center">
      <div class="divider"></div>
      <div class="banners">
        <h2 class="text-center text-uppercase">{{ section.title }}</h2>
      </div>
      <div class="col-sm-12">
        {% for person in section.person_set.all %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <img src="/media/{{ person.photo }}" class="img-circle img-responsive">
          <h2>{{ person.name }} </h2>
          <p class="lead">{{ person.position }}</p>
          <hr>
          <p>
            {{ person.description}}
          </p>
        </div>
        {% if forloop.counter|divisibleby:4 %}
      </div>
      <hr>
      <div class="col-sm-12">
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
      <hr>
      <div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom:20px;">
          Designed by CitiLabs
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/holderjs/holder.min.js'%}"></script>
    <script type="text/javascript">
    $(function() {
      doIt('.navbar', '40px', '20px');
      doIt('#brand', '90px', '48px');
      // $('.navbar').data('size', 'big');
      // $('#brand').data('size', 'big');
    });

    function doIt(element, initHeight, endHeight) {
      $(element).data('size', 'big');
      $(window).scroll(function() {
        if ($(document).scrollTop() > 0) {
          if ($(element).data('size') == 'big') {
            $(element).data('size', 'small');
            $(element).stop().animate({
              height: endHeight
            }, 600);
          }
        } else {
          if ($(element).data('size') == 'small') {
            $(element).data('size', 'big');
            $(element).stop().animate({
              height: initHeight
            }, 600);
          }
        }
      });
    }
    </script>
</body>

</html>
